.splash-title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    /*justify-content: start;*/

    min-width: fit-content;
    /*min-height: min-content;*/
    width: fit-content;
    max-height: 100vh;
    height: 100vh;
    /*width: 100vw;*/
    /*height: fit-content;*/

    --font-size: 5rem;
    --font-size-small: var(--font-size);

    /*overflow-x: hidden;*/

    > h1 {
        /*flex-shrink: 0;*/
        display: flex;
        flex-direction: column;
        position: relative;

        font-family: "Geist", "Inter Tight", sans-serif;
        font-size: var(--font-size);
        font-weight: 700;
        color: #eee;

        margin: min(25%, 15vh) 0 0 0;
        /*min-width: fit-content;*/
        width: fit-content;

        letter-spacing: -0.003em; /*-0.2px*/
        word-spacing: -0.0345em; /*-2.3px;*/
        hyphens: auto;



        > span {
            /*flex-shrink: 0;*/
            cursor: default;
            position: relative;
            /*display: inline-block;*/
            /*min-width: fit-content;*/
            /*width: 100%;*/
            text-align: left;
            /*word-break: break-word;*/
            /*word-break: keep-all;*/
            white-space: nowrap;

            hyphens: auto;
            left: 0;

            margin: auto;
        }

        :first-child {
            margin: 0;
        }
        :last-child {
            margin: 0;
            /*margin-left: auto;*/
            /*align-self: end;*/
            text-align: right;
            /*margin-left: auto;*/
            /*margin-inline-start: auto;*/
            /*padding-left: calc(100% - 100vw);*/
            left: unset;
            right: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .splash-title > h1 {
        font-size: var(--font-size-small);


    }
}