.text-container {
    max-width: 100vw;
    margin: auto;
}



section.text-section {
    /*place-self: center;*/
    display: inline-block;
    /*min-width: min-content;*/
    /*max-width: 50vw;*/
    width: min(90vw, 60em);
    /*width: auto;*/
    /*height: min-content;*/
    /*margin: 35vh auto;*/
    margin: 5vmin;
    /*margin: auto;*/
    color: white;
    font-family: "Geist", "Inter", sans-serif;
    background: #0000;
    /*border: 25px solid #0000;*/

    /*box-shadow: #000f 0 0 55px 25px;*/
    /*margin: 5%;*/
}

.text-section h1 {
    color: white;

    font-weight: 600;
    font-size: 28pt;
    /*border: 1px dotted white;*/
    background: #0000;
    /*display: inline-block;*/
}

.text-section p {
    /*border: 1px dotted white;*/
    padding: 1%;
    background: #000a;
    white-space: normal;
    hyphens: auto;
    font-weight: 300;
    text-align: left;
    line-break: auto;
    font-size: 16pt;
    /*display: inline-block;*/
}