.video-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*z-index: 0;*/
    display: flex;
    justify-content: center;
    /*opacity: 80%;*/
    filter: brightness(50%) contrast(95%) saturate(105%) blur(3px);
    pointer-events: none;
}

#bgPlayer {
    aspect-ratio: 43/18;
    width: auto;
    height: 100%;
}

#bgThumb {
    position: absolute;
    aspect-ratio: 43/18;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 0.8s;
}