/*@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");*/
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/


/** {*/
/*    box-sizing: border-box;*/
/*    z-index: 1;*/
/*}*/

/*html,*/
/*body {*/
/*    overflow-x: hidden;*/
/*    width: 100%; height: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    border: 0;*/
/*    background: #000;*/
/*    z-index: -1;*/
/*    scrollbar-color: #555 darkgrey ;*/
/*    scrollbar-width: thin;*/
/*}*/





.flex-panels {
    width: 100vw;
    height: auto;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    flex: 1px auto;
    /*display: grid;*/
    /*grid-template-columns: 3fr 1fr;*/
    /*flex-flow: row wrap;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*justify-content: start;*/
    /*align-content: start;*/
    /*place-items: start start;*/
    /*align-content: ;*/
    /*place-content: center space-around;*/
    /*justify-content: space-between;*/
    /*align-content: space-around;*/



}



.work-section {
    /*background: #0002;*/
    /*margin: 5% 0 0 5%;*/
    /*padding: 5% 0 0 5%;*/
    /*padding: 1%;*/
    /*max-width: calc(2/3 * 100%);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 5rem;*/
    gap: 1rem;
    /*> * {*/
    /*    max-width: calc(45vh * 43 / 18);*/
    /*    min-width: min(100%, calc(25vh * 18 / 43));*/
    /*}*/
    /*min-height: 100vh;*/
    width: 100%;
    background: rgba(148,187,233,0.01);
    /*background: radial-gradient(closest-corner, rgba(238,174,202,0.1) 0%, rgba(148,187,233,0) 100%);*/
    /*background: radial-gradient(circle, rgba(148,187,233,0.1) 0%, rgba(148,187,233,0) 100%);*/
    /*background: linear-gradient(90deg, rgba(148,187,233,0) 0%, rgba(139,192,255,0.05) 20%, rgba(238,174,202,0.1) 50%, rgba(139,192,255,0.05) 80%, rgba(148,187,233,0) 100%);*/
    backdrop-filter: blur(10px);
    /*box-shadow: #0121 2px 0 20px;*/
    /*width: 100%;*/
    /*margin: auto;*/
    /*width: 50vw;*/

    /*width: 100%;*/
    height: fit-content;
    /*display: inline-block;*/
    /*margin: 0 0 15pt 0;*/
    /*padding: 0 0 15pt 0;*/
}

.text-section {
    /*place-self: center;*/
    display: inline-block;
    /*min-width: min-content;*/
    /*max-width: 50vw;*/
    width: auto;
    height: min-content;
    margin: 35vh auto;

    /*margin: auto;*/
    color: white;
    font-family: "Cormorant Garamond", serif;
    background: #000a;
    border: 25px solid #0000;
    /*box-shadow: #000f 0 0 55px 25px;*/
}

.text-section h1 {
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 28pt;
    /*border: 1px dotted white;*/
    background: #0000;
    /*display: inline-block;*/
}

.text-section p {
    /*border: 1px dotted white;*/
    background: #0000;
    white-space: normal;
    hyphens: auto;
    text-align: left;
    line-break: auto;
    font-size: 18pt;
    /*display: inline-block;*/
}



