.splash-title {
    --font-size: 30rem;
    position: absolute;
    > h1 {
        --font-size: 30rem;
    }
}

.img-panels {
    display: grid;
    grid-template-rows: 2fr auto;
    grid-auto-flow: column;
    gap: 1rem;

    place-content: center center;
    place-items: start  stretch;

    /*height: 100%;*/
    margin: auto auto;

    > img {

        aspect-ratio: 43/18;
        object-fit: cover;
        object-position: center;
        max-width: 97rem;
    /*min(97rem, 125vw);*/
        max-height: calc(50vh - 0.5rem);
        /*height: auto;*/
        width: 97rem;
    }
}

#Installation {
    position: relative;
    z-index: 0;
    /*width: auto;*/
    /*flex-grow: 1;*/
}