/* Typography */
/*h2, h3, h4, h5, h6, p, blockquote {*/
/*    all: unset;*/
/*    display: block;*/
/*}*/

/* Top left name header */
header {
    position:absolute;
    height: 8vh;
    width: 100%;
    z-index: 51;
}

#header_name_container {
    margin: 5vmin;

    > h1 {
        /*margin: 0;*/
        color: #aaa;
        font-family: "Geist", "Inter", sans-serif;
        --fsize: max(2vh, 15pt);
        --width: calc(var(--fsize) * 5);
        font-size: var(--fsize);
        font-weight: 750;

        line-height: 0.3;
        text-align: justify;
        /*text-justify: inter-character;*/

        letter-spacing: 0.008em;

        > i {
            font-weight: 450;
            font-style: normal;
        }
    }

    :last-child {
        letter-spacing: -0.005em;
    }
}

/* Generated DOM pane overlays */
#panes {
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;

    /*
    For smooth text transforms (FF), we need these combined with transformZ(0.01px),
    to force GPU rendering?
     */
    transform: translateX(0) translateZ(0.0001px);
    transform-style: preserve-3d;
    perspective: 1px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section.pane_overlay {
    position: relative;
    width: 100%; height: 100%;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-kerning: normal;
}

/* Contains title and material+year subline */
.work_text_container {
    position: absolute;
    top: calc(30% - 2.5lh);
    left: 0;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    color: #fff;
    line-height: 1;
    flex-shrink: 1;
}

/* Material+year subline container */
.work_info_container {
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-shrink: 1;*/

    align-items: stretch;

    gap: 2em;
    width: auto;
    font-size: 1.5vh;
    padding: 0.5lh 1pt 0 1pt;

    /*margin: 0.25em;*/
    > h3 {
        /*font-size: 1.302vh;*/
        font-size: 1em;
        font-weight: 600;
        display: inline-block;
        color: #eee;
    }
}

@media screen and (max-height: 40rem) {
    .work_info_container > h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-height: 50rem) {
    .work_info_container > h3 {
        font-size: 1.35em;
    }
}

.work_title {
    display: inline-block;
    flex-shrink: 1;
    flex-basis: 1px;
    margin: 0;
    font-weight: 700;
    text-wrap: balance;
    width: auto;
    font-size: 3.673vh;
    letter-spacing: -0.005em;
    word-spacing: -0.052em;
}

.work_material {
    font-style: italic;
    font-synthesis-style: auto;
}

#panes > a {
    position: relative;
    z-index: 50;
    transition: opacity 1.1s ease-in-out 0.05s;
    opacity: 0;
}

#panes > a:hover {
    opacity: 1;
}

/* Series titles under work pane cards */
.series_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    left: 0;
    transform: translateZ(0.0001px);
    perspective: 1px;
    transform-style: preserve-3d;
}

.series_line {
    position: relative;
    height: 1px;
    background: #bbb;
    left: 0;
    width: 100%;
    top: 6.65vh;
}

.series_title {
    position: relative;
    color: #ccc;
    top: 2.1vh;
    font-size: 1.753vh;
    font-family:  "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-kerning: normal;
}

@media screen and (max-height: 75rem) {
    .series_title {
        font-size: 2.3vh;
    }
}

/* Center SVG cross reticle */
#cross {
    position: absolute;
    width: 100%;
    height: 100%;
}

#cross svg {
    fill: #fff;
}

#cross div {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    width: 22px;
    height: 22px;
}

svg {
    height: 100%;
    width: 100%;
}