/* Typography */
h1, h2, h3, h4, h5, h6, p, blockquote {
    all: unset;
}

/* For smooth transforms on FF, we need these with transformZ(0.00001px), to force GPU (?) */
* {
    transform-style: preserve-3d;
    perspective: 1px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(0) translateZ(0.00001px);

    scrollbar-width: thin;
}

:root {
    --horizontal-panel-height: 84vh;
    --horizontal-panel-gap: 1rem;
    --horizontal-panel-aspect: 43/18;

    --horizontal-item-height: calc((var(--horizontal-panel-height) * 0.5) - (var(--horizontal-panel-gap) * 0.5));

    --vertical-panel-height: 92vh;
    --vertical-panel-width: calc(var(--horizontal-item-height) * var(--horizontal-panel-aspect));



    --vertical-text-width: min(100vw, 40rem);
    --vertical-text-margin: 2em;
    --vertical-font-size: 1.5rem;

    --vertical-text-width-small: min(95vw, 65rem);
    --vertical-text-margin-small: 1.5em;
    --vertical-font-size-small: 2.4rem;
}

@media screen and (max-width: 1280px) {
    :root {
        --vertical-text-width: var(--vertical-text-width-small) !important;
        --vertical-text-margin: var(--vertical-text-margin-small) !important;
        --vertical-font-size: var(--vertical-font-size-small) !important;
    }
}

/* Main (scrolling) container */
#horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: auto hidden;
}

/* Large work title, adjust individual typography using variables in the style attribute */
header.splash-title {
    --font-size: 30vh;
    position: absolute;

    min-width: fit-content;
    width: fit-content;
    max-height: 100vh;
    height: 100vh;

    > h1 {
        display: flex;
        flex-direction: column;
        position: absolute;

        bottom: calc(100vh - var(--horizontal-panel-height) - 0.075cap);
        /*bottom: calc(16vh - 0.075cap);*/
        left: 2vw;

        font-family: "Geist", "Inter", sans-serif;
        font-size: var(--font-size);
        font-weight: 700;
        color: #eee;

        margin: 0;

        letter-spacing: -0.003em; /*-0.2px*/
        word-spacing: -0.0345em; /*-2.3px;*/

        gap: 0.8cap;

        > span {
            line-height: 1cap;
            cursor: default;
            position: relative;
            text-align: left;
            white-space: nowrap;
            left: 0;
            margin: auto;
        }

        :first-child {
            margin: 0;
        }
        :last-child {
            margin: 0;
            text-align: right;
            left: unset;
            right: 0;
        }
    }
}



header.splash-inline {
    position: relative;
    /*max-width: 150vw;*/
    min-width: unset;
    height: fit-content;
    bottom: calc(100vh - var(--horizontal-panel-height) - 0.075cap);
    margin-top: auto;
    margin-left: 2vw;

    > h1 {
        position: static;


    }
}



section {
    position: relative;
    z-index: 0;
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.horizontal-panel {
    /* We have to use grid, since no browser bothers to update the width of a wrapped flex */
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);

    gap: var(--horizontal-panel-gap);
    flex-grow: 0;

    place-content: start center;

    max-height: var(--horizontal-panel-height);
    width: auto;

    > img, video {
        aspect-ratio: var(--horizontal-panel-aspect);
        object-fit: cover;
        object-position: center;
        display: inline-block;
        /*max-width: 97rem;*/
        /*height: calc((var(--horizontal-panel-height) * 0.5) - (var(--horizontal-panel-gap) * 0.5));*/
        height: var(--horizontal-item-height);
    }
}

.vertical-panel {
    display: flex;
    flex-direction: column;
    /*width: min(100vw, 40rem);*/
    /*max-width: var(--vertical-panel-width);*/

    /*max-width: calc(100vw - var(--horizontal-panel-gap));*/
    max-height: 100vh;
    height: auto;

    align-items: center;
    justify-content: start;

    flex-grow: 1;

    margin-left: var(--horizontal-panel-gap);
    padding-right: calc(var(--horizontal-panel-gap) * 0.8);

    font-family: "Geist", "Inter Tight", sans-serif;
    font-size: var(--vertical-font-size);

    margin-top: auto;
    /*margin-bottom: calc(100vh - var(--horizontal-panel-height) - 0.075cap);*/

    overflow: hidden auto;

    > p, h1, h2, h3, h4, h5, h6, blockquote {
        width: var(--vertical-text-width);
        max-width: 100%;
        margin-top: 1lh;
        margin-left: var(--vertical-text-margin);
        margin-right: var(--vertical-text-margin);
        hyphens: auto;
    }

    > p {
        font-weight: 350;
    }

    > h2 {
        font-size: 200%;
        hyphens: auto;
    }

    > img, video, div {
        margin-bottom: var(--horizontal-panel-gap);
        margin-left: var(--horizontal-panel-gap);
        margin-right: var(--horizontal-panel-gap);

        aspect-ratio: var(--horizontal-panel-aspect) ;
        object-fit: cover;
        object-position: center;
        display: inline-block;
        max-height: var(--horizontal-item-height);
        min-width: 100%;
    }

    :last-child {
        border-bottom: calc(100vh - var(--horizontal-panel-height)) solid transparent;
        box-sizing: content-box;
        margin-bottom: 0;
    }
}

/* TODO: Add fading overlay to bottom, to indicate scrollable */
/*
.vertical-panel::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
/*calc(100vh - var(--horizontal-panel-height));*/
/*
    bottom: 0;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}
*/

/* TODO: Make vertical images constrict to max-width 100vw
:root {
@media screen and (max-width: calc((42vh - 0.5rem) * var(--horizontal-panel-aspect))) {
    .vertical-panel {
        max-width: calc(100vw - var(--horizontal-panel-gap));
        background: magenta;

        > img, video, div {
            max-height: unset;
            width: 100%;
        }
    }
}
}
*/
