* {
    box-sizing: border-box;
}

html,
body {
    width: 100%; height: 100%;
    padding: 0;margin: 0;border: 0;
    background: #111;
}

html {
    overflow: hidden;
}

canvas {
    position: fixed;
    width: 100%; height: 100%;
}