.video-bg-container {
    position: fixed;

    top: 0;
    left: 0;
    background: #111;
    min-width: 100vw;
    min-height: 100vh;
    filter: brightness(50%) contrast(95%) saturate(105%) blur(3px);
    pointer-events: none;
    overflow: hidden;
}

#bgPlayer {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    /*filter: invert();*/
}