.container {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 100vw;
    min-height: fit-content;
    width: 100%;
    height: fit-content;
}

.full-page {
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}

.fill {
    flex-grow: 1;
    height: auto;
    /*overflow: clip;*/

    /*padding-bottom: 9lh;*/
    box-sizing: content-box;
}