#Installation {
    position: relative;
    z-index: 0;
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.img-panels {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);

    gap: 1rem;
    flex-grow: 0;

    place-content: start center;
    /*place-items: start  stretch;*/

    /*height: 100%;*/
    max-height: 92vh;
    width: auto;
    /*position: relative;*/
    /*margin: auto auto;*/

    > img, video {
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;

        display: inline-block;

        /*max-width: 97rem;*/

        /*min(97rem, 125vw);*/
        /*max-height: calc(50vh - 0.5rem);*/
        /*height: auto;*/
        /*width: 97rem;*/

        height: calc(42vh - 0.5rem);
        /*height: 41rem;*/
    }
}

.text-panels {
    height: 92vh;
    display: flex;
    flex-direction: column;
    width: min(100vw, 40rem);
    /*width: fit-content;*/

    align-items: center;
    justify-content: end;
    gap: 1lh;

    flex-grow: 1;
    margin: 2em;

    font-family: "Geist", "Inter Tight", sans-serif;
    font-size: 1.5rem;

    > p {
        all: unset;
        /*font-size: 16pt;*/
        font-weight: 350;
        /*hyphens: auto;*/
    }

    > h2 {
        all: unset;
        font-size: 200%;
        hyphens: auto;
    }

}

@media screen and (max-width: 1280px) {
    .text-panels {
        font-size: 2.4rem;
        width: min(95vw, 65rem);
        margin: 1.5em;
    }
}

@media screen and (max-height: 50rem) {

}

.img-panel {
    aspect-ratio: 43/18;
    object-fit: cover;
    object-position: center;
    max-width: 97rem;
    /*min(97rem, 125vw);*/
    max-height: calc(50vh - 0.5rem);
    /*height: auto;*/
    width: 97rem;

    > img {
        width: 100%;
        height: 100%;
        aspect-ratio: 43/18;
        object-fit: cover;
        object-position: center;
    }
}