.splash-title {
    --font-size: 30vh;
    position: absolute;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
    /*justify-content: space-between;*/
    /*justify-content: start;*/

    min-width: fit-content;
    /*min-height: min-content;*/
    width: fit-content;
    max-height: 100vh;
    height: 100vh;
    /*width: 100vw;*/
    /*height: fit-content;*/

    > h1 {
        display: flex;
        flex-direction: column;
        position: absolute;

        bottom: calc(16vh - 0.075cap);
        left: 2vw;

        font-family: "Geist", "Inter Tight", sans-serif;
        font-size: var(--font-size);
        font-weight: 700;
        color: #eee;

        margin: 0;
        /*width: min-content;*/

        letter-spacing: -0.003em; /*-0.2px*/
        word-spacing: -0.0345em; /*-2.3px;*/

        gap: 0.8cap;

        > span {
            /*line-height: 0.72;*/
            line-height: 1cap;
            cursor: default;
            position: relative;
            text-align: left;
            white-space: nowrap;

            left: 0;
            /*margin: auto;*/
        }

        :first-child {
            margin: 0;
        }
        :last-child {
            margin: 0;
            text-align: right;
            left: unset;
            right: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .splash-title > h1 {



    }
}